body {
    width: 1100px;
    height: 600px;
}

.cp_iptxt {
    position: relative;
    width: 400px;
    margin: 40px 3%;
}

.cp_iptxt input[type=text] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 350px;
    padding: 0.3em;
    transition: 0.3s;
    border: 1px solid #1b2538;
    border-radius: 4px;
    outline: none;
    padding-left: 10px;
}

.cp_iptxt input[type=text]:focus {
    border: 1px solid #da3c41;
    outline: none;
    box-shadow: 0 0 5px 1px rgba(218, 60, 65, .5);
}

.cp_iptxt i {
    position: absolute;
    top: 8px;
    left: 0;
    padding: 9px 8px;
    transition: 0.3s;
    color: #aaaaaa;
}

.cp_iptxt input[type=text]:focus+i {
    color: #da3c41;
}

.box_1 {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    color: black;
    width: 375px;
    height: 550px;
    margin: auto auto auto 70px;
    padding: auto auto auto 90px;
}

.box_2 {
    display: inline-block;
    vertical-align: middle;
    color: black;
    width: 450px;
    height: 550px;
    padding: auto auto auto 0px;
    margin-left: 50px;
    margin-top: 100px;
}

.box_3 {
    display: inline-block;
    vertical-align: middle;
    color: black;
    width: 100px;
    height: 550px;
    margin-top: 100px;
    padding: auto auto auto auto;
}

span.sample1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 500;
    margin: 100px auto;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: black;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid white;
    cursor: pointer;
    touch-action: manipulation;
    text-shadow: none;
    margin: auto auto auto 300px
}

#legend-div {
    width: 100px;
}

text.legendary-grandmaster:first-letter {
    color: black;
}

.inner {
    width: 980px;
    margin: 0 auto 0 30px;
}

.inner:after {
    content: "";
    clear: both;
    display: block;
}


/* header */

#top-head {
    top: 0px;
    position: absolute;
    width: 1100px;
    height: auto !important;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 13px;
    line-height: 1;
    z-index: 999;
    background-color: #007bff;
}

#top-head a,
#top-head {
    color: #fff;
    text-decoration: none;
}

#top-head .inner {
    position: relative;
}

#top-head .logo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    font-size: 18px;
}

#global-nav ul {
    font-family: 'Lato', sans-serif;
    list-style: none;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
}

#global-nav ul li {
    float: left;
}

#global-nav ul li a {
    padding: 0 30px;
}


/* Fixed */

#top-head.fixed {
    margin-top: 0;
    top: 0;
    position: fixed;
    padding-top: 10px;
    height: 55px;
    background: #fff;
    background: rgba(255, 255, 255, .7);
    transition: top 0.65s ease-in;
    -webkit-transition: top 0.65s ease-in;
    -moz-transition: top 0.65s ease-in;
}

#top-head.fixed .logo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #333;
}

#top-head.fixed #global-nav ul li a {
    color: #333;
    padding: 0 20px;
}


/* Toggle Button */

#nav-toggle {
    display: none;
    position: absolute;
    right: 12px;
    top: 14px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
}

#nav-toggle div {
    position: relative;
}

#nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #666;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
    top: 0;
}

#nav-toggle span:nth-child(2) {
    top: 11px;
}

#nav-toggle span:nth-child(3) {
    top: 22px;
}