body {
    width: 1200px;
    height: 600px;
}

input[type="radio"] {
    display: none;
}

.cp_iptxt {
    position: relative;
    width: 400px;
    margin: 40px 3%;
}

.cp_iptxt input[type=text] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 350px;
    padding: 0.3em;
    transition: 0.3s;
    border: 1px solid #1b2538;
    border-radius: 4px;
    outline: none;
    padding-left: 10px;
}

.cp_iptxt input[type=text]:focus {
    border: 1px solid #da3c41;
    outline: none;
    box-shadow: 0 0 5px 1px rgba(218, 60, 65, .5);
}

.cp_iptxt i {
    position: absolute;
    top: 8px;
    left: 0;
    padding: 9px 8px;
    transition: 0.3s;
    color: #aaaaaa;
}

.cp_iptxt input[type=text]:focus+i {
    color: #da3c41;
}

.box_1 {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    color: black;
    width: 375px;
    height: 550px;
    margin: auto auto auto 70px;
    padding: auto auto auto 90px;
}

.box_2 {
    display: inline-block;
    vertical-align: middle;
    color: black;
    width: 450px;
    height: 550px;
    padding: auto auto auto 0px;
    margin-left: 50px;
    margin-top: 100px;
}

.box_3 {
    display: inline-block;
    vertical-align: middle;
    color: black;
    width: 100px;
    height: 550px;
    margin-top: 100px;
    padding: auto auto auto auto;
}

span.sample1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 500;
    margin: 100px auto;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: black;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid white;
    cursor: pointer;
    touch-action: manipulation;
    text-shadow: none;
    margin: auto auto auto 300px
}

#legend-div {
    width: 100px;
}

text.legendary-grandmaster:first-letter {
    color: black;
}