table {
    /* border-collapse: collapse; */
}

#title {
    margin-top: 30px;
}

th,
td {
    /* border: solid 1px; */
    padding: 3px;
    /* border-color: #EBEBEB; */
}

th {
    font-size: larger;
    color: #337AB7;
}

user.legendary-grandmaster:first-letter {
    color: black !important;
}

.legendary-grandmaster:first-letter {
    color: black !important;
}

tr:nth-child(even) {
    background-color: #F9F9F9;
}

td:nth-of-type(2) {
    font-weight: bold;
}

td.userID {
    padding-left: 0.5em;
}

div {
    display: block !important;
}

div.dataTables_length {
    padding-left: 0px !important;
}

div.dataTables_filter {
    padding-right: 0px !important;
}

h1#title {
    padding-left: 20px !important;
}

div.userID {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    display: inline !important;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: black;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid white;
    cursor: pointer;
    touch-action: manipulation;
    text-shadow: none;
}

.inner {
    width: 980px;
}

.inner:after {
    content: "";
    clear: both;
    display: block;
}


/* header */

#top-head {
    display: block;
    top: 0px;
    position: absolute;
    width: 100%;
    height: auto !important;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 13px;
    line-height: 1;
    z-index: 999;
    background-color: #101010;
}

#top-head a,
#top-head {
    color: #fff;
    text-decoration: none;
}

#top-head .inner {
    position: relative;
    padding: 7px 20px !important;
}

#top-head .logo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    font-size: 20px;
    margin-right: 19px !important;
}

#global-nav ul {
    font-family: 'Lato', sans-serif;
    list-style: none;
    position: absolute;
    left: 250px;
    top: 30px;
    font-size: 15px;
}

#global-nav ul li {
    float: left;
}

#global-nav ul li a {
    padding: 0 30px;
}


/* Fixed */

#top-head.fixed {
    margin-top: 0;
    top: 0;
    position: fixed;
    padding-top: 10px;
    height: 55px;
    background: #fff;
    background: rgba(255, 255, 255, .7);
    transition: top 0.65s ease-in;
    -webkit-transition: top 0.65s ease-in;
    -moz-transition: top 0.65s ease-in;
}

#top-head.fixed .logo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #333;
    margin-right: 20px !important;
}

#top-head.fixed #global-nav ul li a {
    color: #333;
    padding: 0 20px;
}


/* Toggle Button */

#nav-toggle {
    display: none;
    position: absolute;
    right: 12px;
    top: 14px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
}

#nav-toggle div {
    position: relative;
}

#nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #666;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
    top: 0;
}

#nav-toggle span:nth-child(2) {
    top: 11px;
}

#nav-toggle span:nth-child(3) {
    top: 22px;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0.1em 0.5em 0.1em 0;
    /* vertical-align: -0.1em; */
}