table {
    /* border-collapse: collapse; */
}

#title {
    margin-top: 30px;
}

th,
td {
    /* border: solid 1px; */
    padding: 3px;
    /* border-color: #EBEBEB; */
}

th {
    font-size: larger;
    color: #337AB7;
}

.legendary-grandmaster:first-letter {
    color: black;
}

tr:nth-child(even) {
    background-color: #F9F9F9;
}

td:nth-of-type(2) {
    font-weight: bold;
}

div {
    display: block !important;
}

div.form-group {
    padding-left: 10px !important;
}

div.col-xs-offset-2 {
    margin-bottom: 20px !important;
}

h1#title {
    padding-left: 20px !important;
}


/* #rankingbtn {
    margin-bottom: 10px !important;
} */