<!DOCTYPE html>
<html lang="en">

<head>


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Table sort example in D3</title>

    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/d3-path.v1.min.js" charset="utf-8"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_ranking.css')}}">
</head>

<body>
    <nav class="navbar navbar-expand-md  navbar-dark bg-primary fixed-top">
        <a href="/" class="navbar-brand">Codeforces Chart Visualizer(kari)</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav1">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav1">
            <ul class="navbar-nav">
                <li class="nav-item active"><a href="/" class="nav-link">Radar Chart</a></li>
                <li class="nav-item "><a href="/ranking" class="nav-link">Ranking</a></li>
            </ul>
        </div>
    </nav>
    <h1 id="title">Ranking</h1>
    <table style="width:80%">
        <thead></thead>
        <tbody></tbody>
    </table>
    <div class="form-group">
        <label>&nbsp;&nbsp;</label>
        <label><input type="radio" class="radio-inline" id="radio_user" name="d5" onchange="makeTable()">user</label>
        <label><input type="radio" class="radio-inline" id="radio_country" name="d5" onchange="makeTable()">country</label>
        <form action="#" method="GET" onchange="makeTable()">
            <div class="setwidth">
                <div class="col-xs-3">
                    <select class="form-control" name="form2" id="form2">
            <option value="bitmasks">bitmasks</option>
            <option value="divide and conquer">divide and conquer</option>
            <option value="math">math</option>
            <option value="data structures">data structures</option>
            <option value="trees">trees</option>
            <option value="dp">dp</option>
            <option value="greedy">greedy</option>
            <option value="binary search">binary search</option>
            <option value="sortings">sortings</option>
            <option value="number theory">number theory</option>
            <option value="brute force">brute force</option>
            <option value="hashing">hashing</option>
            <option value="meet-in-the-middle">meet-in-the-middle</option>
            <option value="two pointers">two pointers</option>
            <option value="implementation">implementation</option>
            <option value="strings">strings</option>
            <option value="constructive algorithms">constructive algorithms</option>
            <option value="graphs">graphs</option>
            <option value="combinatorics">combinatorics</option>
            <option value="dfs and similar">dfs and similar</option>
            <option value="dsu">dsu</option>
            <option value="probabilities">probabilities</option>
            <option value="geometry">geometry</option>
            <option value="interactive">interactive</option>
            <option value="ternary search">ternary search</option>
            <option value="shortest paths">shortest paths</option>
            <option value="matrices">matrices</option>
            <option value="2-sat">2-sat</option>
            <option value="graph matchings">graph matchings</option>
            <option value="games">*special</option>
            <option value="string suffix structures">string suffix structures</option>
            <option value="expression parsing">expression parsing</option>
            <option value="chinese remainder theorem">chinese remainder theorem</option>
            <option value="schedules">schedules</option>
        </select>
                </div>
                <div class="col-xs-offset-2 col-xs-10">
                    <input type="button" id="rankingbtn" class="btn btn-primary" name="apply" onclick="makeTable()" value="apply" />
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var prev_tag = "";
        var user_info = JSON.parse('{{user_info|tojson}}');
        var ranking_data = JSON.parse('{{ranking_data|tojson}}');
        console.log(user_info['jcvb']);

        function makeTable() {
            if ($.fn.DataTable.isDataTable("#" + "ranking-table")) {
                $("#" + "ranking-table").DataTable().destroy();
            }
            $("#" + "ranking-table tbody").empty();
            d3.selectAll("table").remove();
            console.log(document.getElementById("radio_user"));
            if (document.getElementById("radio_user").checked) showUser();
            else showCountry();

            function showCountry() {
                var tag = document.getElementById("form2").value;
                var title = document.getElementById("title");
                title.innerHTML = (tag + " Ranking");
                list = ranking_data[tag];
                var titles = []; //タイトルのリスト
                for (title in list[0]) {
                    titles.push(title);
                }
                console.log(titles);
                var id = "ranking-table";
                var className = "table table-bordered";
                var table = d3.select("body")
                    .append("table")
                    .attr("class", className)
                    .attr("id", id);
                //タイトルを追加する
                table.append("thead")
                    .append("tr")
                    .selectAll("th")
                    .data(titles)
                    .enter()
                    .append("th")
                    .text(function(d) {
                        return d;
                    });
                table.append("tbody")
                    .selectAll("tr")
                    .data(list)
                    .enter()
                    .append("tr")
                    .selectAll("td")
                    .data(function(row) {
                        return d3.entries(row);
                    })
                    .enter()
                    .append("td")
                    .append("div")
                    .text(function(d, i) {
                        return d.value;
                    })
                    .style("display", function(d, i) {
                        if (i == 3) {
                            return "inline-block";
                        }
                    });
                jQuery(function($) {
                    $("#" + "ranking-table").DataTable();
                });
                prev_tag = tag;
            }

            function showUser() {
                var tag = document.getElementById("form2").value;
                var title = document.getElementById("title");
                title.innerHTML = (tag + " Ranking");
                list = ranking_data[tag];
                console.log(list);
                var titles = []; //タイトルのリスト
                for (title in list[0]) {
                    titles.push(title);
                }
                console.log(titles);
                var id = "ranking-table";
                var className = "table table-bordered";
                var table = d3.select("body")
                    .append("table")
                    .attr("class", className)
                    .attr("id", id);
                //タイトルを追加する
                table.append("thead")
                    .append("tr")
                    .selectAll("th")
                    .data(titles)
                    .enter()
                    .append("th")
                    .text(function(d) {
                        return d;
                    });
                table.append("tbody")
                    .selectAll("tr")
                    .data(list)
                    .enter()
                    .append("tr")
                    .selectAll("td")
                    .data(function(row) {
                        return d3.entries(row);
                    })
                    .enter()
                    .append("td")
                    .append("div")
                    .text(function(d, i) {
                        return d.value;
                    })
                    .style("color", function(d, i) {
                        if (i == 3) {
                            var name = d.value;
                            if (user_info[name]) return decideColor(user_info[name].rating);
                            else return "black";
                        } else return "black";
                    })
                    .attr("class", function(d, i) {
                        if (i == 3) {
                            var name = d.value;
                            if (user_info[name] && (user_info[name].rating >= 3000)) return "legendary-grandmaster userID";
                            else return d.key;
                        } else return d.key;
                    })
                    .style("display", function(d, i) {
                        if (i == 3) {
                            return "inline-block";
                        }
                    });
                var legendary = document.getElementsByClassName("legendary-grandmaster");
                console.log(legendary);
                //.append("text");
                table.selectAll("div.userID")
                    .on("mouseover", function(d) {
                        d3.select(this).style("cursor", "pointer");
                    })
                    .on("mouseout", function(d) {
                        d3.select(this).style("cursor", "default");
                    })
                    .on("click", function(d) {
                        window.open("https://codeforces.com/profile/" + d.value, '_blank');
                    });

                function decideColor(rating) {
                    if (rating >= 2400) return "#FF0000";
                    else if (rating >= 2100) return "#FF8C00";
                    else if (rating >= 1900) return "#AA00AA";
                    else if (rating >= 1600) return "#0000FF";
                    else if (rating >= 1400) return "#03A89E";
                    else if (rating >= 1200) return "#008000";
                    else return "#808080";
                }
                jQuery(function($) {
                    $("#" + "ranking-table").DataTable();
                });
                prev_tag = tag;
            }
        }
    </script>
</body>

</html>