<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_userpage.css')}}">
    <title>Test</title>
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/d3-path.v1.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css" />
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
    <script src="{{url_for('static', filename='radar-chart.js')}}" charset="utf-8"></script>
    <!-- Bootstrap/JS -->
    <script src="/public/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="main-div" class="float-container">
        <header id="top-head">
            <div class="inner">
                <div id="mobile-head">
                    <h1 class="logo"><a href="/">Codeforces Chart Visualizer</a></h1>
                </div>
                <nav id="global-nav">
                    <ul>
                        <li><a href="/">Radar Chart</a></li>
                        <li><a href="/ranking">Ranking</a></li>
                        <li><a href="/userpage">User Page</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="main-container" class="container">
            <form id="form1" action="#" method="GET" class="cp_iptxt">
                <p>User Name</p>
                <input type="text" id="UserName" value="" placeholder="Enter Your ID">
                <input type="submit" class="btn-primary" value="Enter" />
            </form>
        </div>
    </div>
    <script type="text/javascript">
        all_tags = ["bitmasks", "divide and conquer", "math", "data structures", "trees", "dp", "greedy", "binary search", "sortings", "number theory", "fft", "brute force", "hashing", "meet-in-the-middle", "two pointers", "implementation", "strings", "constructive algorithms", "graphs", "combinatorics", "dfs and similar", "dsu", "probabilities", "geometry", "interactive", "ternary search", "shortest paths", "flows", "matrices", "2-sat", "graph matchings", "games", "*special", "string suffix structures", "expression parsing", "chinese remainder theorem", "schedules"];
        $('#form1').submit(function() {
            var user = $('#UserName').val();
            if (user == "") {
                $('form').attr('action', '/userpage');
                $("#form1").submit();
            } else {
                $('form').attr('action', '/userpage/' + user);
                $("#form1").submit();
            }
        });

        var name = JSON.parse('{{name|tojson|safe}}');
        var hash = JSON.parse('{{hash|tojson|safe}}');
        var problem_list = JSON.parse('{{problem_list|tojson|safe}}');
        var solved = JSON.parse('{{solved|tojson|safe}}');
        var rating_data = JSON.parse('{{rating_data|tojson|safe}}');
        var user_info = JSON.parse('{{user_info|tojson|safe}}');
        var count = 0;
        for (var tag in hash["tags"]) {
            if (hash["tags"][tag] == name) continue;
            count += hash["tags"][tag].solveCount;
        }

        var container = d3.select(".container");


        container.append("h3")
            .text(name)
            .style("margin-left", "3%")
            .style("color", function() {
                return decideColor(user_info[name].rating);
            })
            .attr("class", function() {
                if (user_info[name].rating >= 3000) return "legendary-grandmaster";
            });

        var div = container.append("div")
            .style("display", "flex")
            .style("flex-wrap", "wrap")
            .append("div")
            .style("text-align", "center")
            .style("max-width", "25%")
            .style("flex", "0 0 25%");

        div.append("h5")
            .text("Solved")

        div.append("h4")
            .text(Object.keys(solved).length)


        container.append("h3")
            .text("Radar Chart")
            .style("margin-left", "3%");

        var div = container.append("div")
            .style("margin-left", "3%")
            .style("margin-right", "3%")
            .attr("class", "panel panel-default")

        div.append("div")
            .attr("class", "panel-heading collapse-heading collapsed")
            .attr("data-toggle", "collapse")
            .attr("data-target", "#collapse-chart")
            .attr("aria-expanded", "false")
            .append("h3")
            .attr("class", "panel-title")
            .text("Option")
            .append("span")
            .attr("class", "glyphicon pull-right")
            .html("▼");

        var panel_body = div.append("div")
            .attr("id", "collapse-chart")
            .attr("class", "panel-body panel-collapse collapse");

        var select = panel_body.append("span")
            .text("Solved Problems ≧ ")
            .append("select")
            .attr("class", "selectpicker")
            .attr("id", "solved-min")
            .attr("onchange", "showRadarChart()");

        for (var i = 1; i <= 10; i++) {
            select.append("option")
                .attr("value", i)
                .text(i)
        }

        var panel_body_tags = panel_body.append("span")
            .attr("class", "collapse-heading")
            .attr("data-toggle", "collapse")
            .attr("data-target", "#collapse-tags")
            .attr("aria-expanded", "true")
            .append("p")
            .attr("class", "border")

        panel_body_tags.append("span")
            .text("Tags")
            .style("font-size", "large")

        panel_body_tags.append("span")
            .text("▼")
            .style("font-size", "large")
            .attr("class", "glyphicon pull-right")

        var tags_body = panel_body.append("div")
            .attr("class", "collapse in")
            .attr("id", "collapse-tags");

        for (var tag of all_tags) {
            var div = tags_body.append("div")
                .style("margin-left", "3%")

            div.append("input")
                .attr("type", "checkbox")
                .attr("id", tag)
                .attr("checked", "checked")
                .attr("onchange", "showRadarChart()");;

            div.append("label")
                .attr("for", tag)
                .html("&nbsp;&nbsp;" + tag);
        }


        container.append("div")
            .style("margin-left", "3%")
            .style("padding", "0 auto")
            .attr("class", "radarChart")
            .style("display", "inline-flex");

        showRadarChart();

        container.append("h3")
            .text("Performance Graph")
            .style("margin-left", "3%");

        showPerformanceGraph();

        container.append("h3")
            .text("Recommendations")
            .style("margin-left", "3%");

        showRecommendations();


        function showRadarChart() {
            var minSolveCount = document.getElementById("solved-min").value;
            data = [];
            selected_tags = {};
            for (var tag in hash["tags"]) {
                console.log(tag);
                if (hash["tags"][tag] == name) continue;
                if (hash["tags"][tag].solveCount >= minSolveCount && document.getElementById(tag).checked) {
                    //console.log(tag)
                    selected_tags[tag] = true;
                }
            }
            max_rating = 0;
            newSeries = {};
            newSeries.name = name;
            newSeries.axes = [];
            for (let tag in hash["tags"]) {
                if (hash["tags"][tag] == name) continue;
                if (!selected_tags[tag]) continue;
                if (max_rating < hash["tags"][tag].value) max_rating = hash["tags"][tag].value;
                newSeries.axes.push({
                    "axis": tag,
                    "value": hash["tags"][tag].value
                });
            }
            data.push(newSeries);

            var margin = {
                top: 50,
                right: 150,
                bottom: 100,
                left: 300
            };
            var radarChartOptions = {
                w: 300,
                h: 300,
                margin: margin,
                maxValue: max_rating,
                opacityArea: 0.1,
                levels: 6,
                roundStrokes: false,
                color: d3.scaleOrdinal(d3.schemeCategory10),
                format: '.0f'
            };
            console.log(data);

            let svg_radar = RadarChart(".radarChart", data, radarChartOptions);
        }

        function showPerformanceGraph() {
            var list = [];
            var n_results = rating_data.length;
            console.log(n_results);

            var highestPerf = -1e9;
            var lowestPerf = 1e9;
            for (var i = 0; i < n_results; i++) {
                var obj = Object.assign(rating_data[i]);

                var diff = obj.newRating - obj.oldRating;
                obj["performance"] = obj.oldRating + diff * 4;
                highestPerf = Math.max(highestPerf, obj.performance);
                lowestPerf = Math.min(lowestPerf, obj.performance);
                obj["timeMilliSeconds"] = obj.ratingUpdateTimeSeconds * 1000;
                obj["date"] = new Date(obj.timeMilliSeconds);
                list.push(obj);
                if (i == 0) console.log(obj);
            }
            var oldestTime = list[0].timeMilliSeconds;
            var latestTime = list[n_results - 1].timeMilliSeconds;
            console.log(new Date(oldestTime));
            console.log(new Date(latestTime));

            var width = 800;
            var height = 450;
            var svg = d3.select(".container")
                .append("div")
                .style("margin-left", "5%")
                .style("margin-right", "5%")
                .append("svg")
                .attr("width", width)
                .attr("height", height)

            var padding = 50;
            var xAxisPadding = 10;
            var yAxisPadding = 10;
            var tooltip_rating = d3.select("body").append("div").attr("class", "tooltip_rating");
            var xScale = d3.scaleTime()
                .domain([
                    new Date(oldestTime), new Date(latestTime)
                ])
                .range([padding, width - padding]);
            var yScale = d3.scaleLinear()
                .domain([
                    lowestPerf - 400,
                    highestPerf + 400
                ])
                .range([height - padding, padding]);

            var xAxis = d3.axisBottom(xScale)
                .tickFormat(d3.timeFormat("%Y-%m"))
                .ticks(10);
            var yAxis = d3.axisLeft(yScale)

            var line = d3.line()
                .x(function(d) {
                    return xScale(d.date)
                })
                .y(function(d) {
                    return yScale(d.performance)
                });
            svg.append("g")
                .attr("class", "axis")
                .attr("transform", "translate(" + 0 + ", " + (height - padding) + ")")
                .call(xAxis)
            svg.append("g")
                .attr("class", "axis")
                .attr("transform", "translate(" + padding + ", 0)")
                .call(yAxis);

            svg.append("path")
                .datum(list)
                .attr("fill", "none")
                .attr("stroke", "steelblue")
                .attr("stroke-width", 1.5)
                .attr("d", line);
            svg.append("g")
                .selectAll("circle")
                .data(list)
                .enter()
                .append("circle")
                .attr("cx", function(d) {
                    return xScale(d.date);
                })
                .attr("cy", function(d) {
                    return yScale(d.performance);
                })
                .attr("fill", function(d) {
                    return decideColor(d.performance);
                })
                .attr("r", 4)
                .on("mouseover", function(d) {
                    d3.select(this).style("cursor", "pointer");
                    var year = d.date.getFullYear();
                    var month = d.date.getMonth() + 1;
                    var day = d.date.getDate();
                    d3.select(this)
                        .attr("r", 5);
                    tooltip_rating.style("top", (d3.event.pageY - 20) + "px")
                        .style("left", (d3.event.pageX + 10) + "px")
                        .style("visibility", "visible")
                        .html(
                            "perf: " + d.performance +
                            "<br>" + d.contestName +
                            "<br>" + year + "/" + month + "/" + day
                        );
                })
                .on("mousemove", function(d) {})
                .on("mouseout", function(d) {
                    d3.select(this).style("cursor", "default");
                    d3.select(this)
                        .attr("r", 4);
                    tooltip_rating.style("visibility", "hidden");
                })
                .on("click", function(d) {
                    window.open("https://codeforces.com/contest/" + d.contestId, '_blank');
                })
        }

        function showRecommendations(hide = false) {
            var n_problems = problem_list.length;
            var recommendation_list = [];
            var titles = ["ID", "Name", "Difficulty", "Tags"]; //タイトルのリスト
            for (var i = 0; i < n_problems; i++) {
                var problem = problem_list[i];
                console.log(problem);
                if (!problem.rating) continue; //問題にdifficultyが設定されていなければスキップ
                if (!problem.tags) continue; //問題にタグが設定されていなければスキップ
                var problem_name = [];
                problem_name.push(problem.contestId);
                problem_name.push(problem.index);
                var title = problem.name;
                //すでに解かれていればスキップ
                if (solved[problem_name[0] + problem_name[1]]) {
                    continue;
                }
                var difficulty = problem.rating;
                var tags = "";
                var ok = false;
                var n_tags = problem.tags.length;
                for (var j = 0; j < n_tags; j++) {
                    var tag = problem.tags[j];
                    tags += tag;
                    if (j < n_tags - 1) tags += ", ";
                    if (hash.tags[tag].solveCount == 0) continue;
                    var rating = hash.tags[tag].value;
                    //あるtagのレーティングとdifficultyの差が100以下ならレコメンドする
                    if (Math.abs(rating - difficulty) <= 100) ok = true;
                }
                if (!ok) continue;
                var obj = {};
                obj.id = problem_name;
                obj.name = title;
                obj.difficulty = difficulty;
                obj.tags = tags;
                recommendation_list.push(obj);
            }


            var id = "recommendation-table";
            var className = "table table-bordered";
            var table = d3.select(".container")
                .append("div")
                .style("margin-left", "5%")
                .style("margin-right", "5%")
                .style("margin-top", "30px")
                .append("table")
                .attr("class", className)
                .attr("id", id);

            var tr = table.append("tbody").selectAll("tr").data(recommendation_list).enter().append("tr");

            table.append("thead")
                .append("tr")
                .selectAll("th")
                .data(titles)
                .enter()
                .append("th")
                .text(function(d) {
                    return d;
                })

            tr.append("td")
                .attr("class", "problem-ID")
                .html(function(d) {
                    return d.id[0] + d.id[1];
                });
            tr.append("td")
                .attr("class", "problem-name")
                .html(function(d) {
                    return d.name;
                })
                .style("color", "#0000ff")
                .style("text-decoration", "underline")
                .on("mouseover", function(d) {
                    d3.select(this).style("cursor", "pointer").style("color", "#ff0000");
                })
                .on("mouseout", function(d) {
                    d3.select(this).style("cursor", "default").style("color", "#0000ff");
                })
                .on("click", function(d) {
                    window.open("https://codeforces.com/problemset/problem/" + d.id[0] + "/" + d.id[1], '_blank');
                });
            tr.append("td")
                .attr("class", "problem-difficulty")
                .html(function(d) {
                    return d.difficulty;
                })
                .style("color", function(d) {
                    return decideColor(d.difficulty);
                })
                .attr("class", function(d) {
                    if (d.difficulty >= 3000) return "legendary-grandmaster";
                });
            tr.append("td")
                .attr("class", "problem-tags")
                .html(function(d) {
                    return d.tags;
                })

            jQuery(function($) {
                $("#" + id).DataTable({
                    columnDefs: [{
                        targets: 3,
                        visible: hide ? false : true
                    }]
                });
            });
        }

        function decideColor(rating) {
            if (rating >= 2400) return "#FF0000";
            else if (rating >= 2100) return "#FF8C00";
            else if (rating >= 1900) return "#AA00AA";
            else if (rating >= 1600) return "#0000FF";
            else if (rating >= 1400) return "#03A89E";
            else if (rating >= 1200) return "#008000";
            else return "#808080";
        }
    </script>

</body>

</html>