<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>D3 Test</title>
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/d3-path.v1.min.js" charset="utf-8"></script>
    <script src="./bower_components/radar-chart-d3/src/radar-chart.js" charset="utf-8"></script>
</head>

<body>
    <form id="form1" action="#">
        <input type="text" id="You" value=""><br>
        <input type="text" id="Rivals" value=""><br>
        <input type="button" onclick="button_clicked()" value="Enter">
    </form>
    <form action="#" method="GET">
        <select name="form2" id="form2">
            <option value="solved">solved >=</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <input type="button" name="apply" onclick="apply_clicked()" value="apply" />
    </form>
    <br><br><br>
    <div class="tab_wrap">
        <input id="tab1" type="radio" name="tab_btn" checked>
        <input id="tab2" type="radio" name="tab_btn">
        <input id="tab3" type="radio" name="tab_btn">

        <div class="tab_area">
            <label class="tab1_label" for="tab1">Radar Chart</label>
            <label class="tab2_label" for="tab2">tab2</label>
            <label class="tab3_label" for="tab3">tab3</label>
        </div>
        <div class="panel_area">
            <div id="panel1" class="tab_panel">
                <svg id="legend-div"></svg>
                <div class="radarChart" style="display: inline-flex;"></div>
            </div>
            <div id="panel2" class="tab_panel">
                <p>panel2</p>
            </div>
            <div id="panel3" class="tab_panel">
                <p>panel3</p>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        //このファイルと同じディレクトリに「lib/d3.js」と「contest_data」(これはGoogle Driveで共有します)を置いてください



        var cnt = 0;
        let n_contests = 1260;

        //自分のrating,問題のdifficulty,解けたかどうか, から新しいratingを計算する
        function updateRating(rating, difficulty, wins, loses, K = 0.5) {
            // console.log(rating + " " + difficulty + " " + wins + " " + loses + " " + K);
            var games = wins + loses;
            var winProbability = 1.0 / (Math.pow(10.0, (difficulty - rating) / 400.0) + 1.0);
            var newRating = rating + K * (wins - games * winProbability);
            return newRating;
        }
        //ユーザーネーム→国名のハッシュ
        country_hash = {};
        //国名→各タグのrating のハッシュを用意する
        var hash = {};
        //デフォルトのハッシュ

        const Status = {
            country: "unknown",
            userID: "unknown",
            tags: {
                "bitmasks": {
                    value: 1500,
                    solveCount: 0
                },
                "divide and conquer": {
                    value: 1500,
                    solveCount: 0
                },
                "math": {
                    value: 1500,
                    solveCount: 0
                },
                "data structures": {
                    value: 1500,
                    solveCount: 0
                },
                "trees": {
                    value: 1500,
                    solveCount: 0
                },
                "dp": {
                    value: 1500,
                    solveCount: 0
                },
                "greedy": {
                    value: 1500,
                    solveCount: 0
                },
                "binary search": {
                    value: 1500,
                    solveCount: 0
                },
                "sortings": {
                    value: 1500,
                    solveCount: 0
                },
                "number theory": {
                    value: 1500,
                    solveCount: 0
                },
                "fft": {
                    value: 1500,
                    solveCount: 0
                },
                "brute force": {
                    value: 1500,
                    solveCount: 0
                },
                "hashing": {
                    value: 1500,
                    solveCount: 0
                },
                "meet-in-the-middle": {
                    value: 1500,
                    solveCount: 0
                },
                "two pointers": {
                    value: 1500,
                    solveCount: 0
                },
                "implementation": {
                    value: 1500,
                    solveCount: 0
                },
                "strings": {
                    value: 1500,
                    solveCount: 0
                },
                "constructive algorithms": {
                    value: 1500,
                    solveCount: 0
                },
                "graphs": {
                    value: 1500,
                    solveCount: 0
                },
                "combinatorics": {
                    value: 1500,
                    solveCount: 0
                },
                "dfs and similar": {
                    value: 1500,
                    solveCount: 0
                },
                "dsu": {
                    value: 1500,
                    solveCount: 0
                },
                "probabilities": {
                    value: 1500,
                    solveCount: 0
                },
                "geometry": {
                    value: 1500,
                    solveCount: 0
                },
                "interactive": {
                    value: 1500,
                    solveCount: 0
                },
                "ternary search": {
                    value: 1500,
                    solveCount: 0
                },
                "shortest paths": {
                    value: 1500,
                    solveCount: 0
                },
                "flows": {
                    value: 1500,
                    solveCount: 0
                },
                "matrices": {
                    value: 1500,
                    solveCount: 0
                },
                "2-sat": {
                    value: 1500,
                    solveCount: 0
                },
                "graph matchings": {
                    value: 1500,
                    solveCount: 0
                },
                "games": {
                    value: 1500,
                    solveCount: 0
                },
                "*special": {
                    value: 1500,
                    solveCount: 0
                },
                "string suffix structures": {
                    value: 1500,
                    solveCount: 0
                },
                "expression parsing": {
                    value: 1500,
                    solveCount: 0
                },
                "chinese remainder theorem": {
                    value: 1500,
                    solveCount: 0
                },
                "schedules": {
                    value: 1500,
                    solveCount: 0
                }
            }
        };


        var legendVals = []; //凡例用のリスト

        var DEBUG = false;
        var showID = "tourist";
        //コンテストIDから、参加者全員のratingを更新する
        function calcRating(contestID) {
            return new Promise((resolve, reject) => {
                var filename = "./contest_data/" + contestID + ".json";
                d3.json(filename).then(function (data) {
                    //console.log(data);
                    //コンテストデータがなければスキップ
                    if (data.status == "FAILED") {
                        console.log(contestID + ":FAILED");
                        return resolve();
                    } else {
                        console.log(contestID + ":OK");
                    }

                    let problems = data.result.problems;
                    let n_problems = problems.length;
                    //console.log(problems);
                    let ranks = data.result.rows;
                    let n_contestants = ranks.length;

                    if (!n_contestants) return resolve();
                    var countProblems = {};

                    for (let i = 0; i < n_contestants; i++) {
                        let name = ranks[i].party.members[0].handle;
                        if (ranks[i].party.participantType != 'CONTESTANT') continue; // Contestantでなければスキップ
                        //もしハッシュに名前が登録されてなければ新しく作る
                        if (!country_hash[name]) continue;
                        var country = country_hash[name];
                        //if (country == "Mongolia") console.log(ranks[i]);
                        if (!hash[country]) {
                            hash[country] = JSON.parse(JSON.stringify(Status));
                            hash[country].country = country;
                            hash[country].userID = country;
                        }
                        if (!countProblems[country]) countProblems[country] = {};
                        if (DEBUG && name == showID) {
                            console.log(data.result.problems);
                            console.log(ranks[i].problemResults);
                            console.log(hash[country]);
                        }
                        for (let j = 0; j < n_problems; j++) {
                            let problemID = problems[j].index;
                            if (!countProblems[country][problemID]) countProblems[country][problemID] = {
                                "win": 0,
                                "lose": 0
                            };
                            let result = ranks[i].problemResults[j].points ? 1 : 0;
                            let difficulty = problems[j].rating;
                            if (!difficulty) continue; //問題にdifficultyが設定されてなければスキップ
                            for (let tag of problems[j].tags) {
                                if (result) {
                                    countProblems[country][problemID].win++;
                                } else countProblems[country][problemID].lose++;
                            }
                        }
                    }
                    for (country in countProblems) {
                        for (var j = 0; j < n_problems; j++) {
                            var problemID = problems[j].index;
                            let difficulty = problems[j].rating;
                            if (!difficulty) continue;
                            for (let tag of problems[j].tags) {
                                var rating = hash[country]["tags"][tag].value;
                                if (!countProblems[country]) {
                                    console.log(country);
                                }
                                var wins = countProblems[country][problemID].win;
                                var loses = countProblems[country][problemID].lose;
                                hash[country]["tags"][tag].solveCount += wins;
                                hash[country]["tags"][tag].value = updateRating(rating, difficulty, wins, loses);
                            }
                        }
                        //if (country == "Japan") console.log(hash[country]);
                    }
                    resolve();
                })
            })
        }

        async function calc_all() {
            for (let i = 1000; i <= n_contests; i++) {
                var result = await calcRating(i);
            }
        }

        d3.json("./user_data/country_list.json").then(function (data) {

            country_hash = JSON.parse(JSON.stringify(data));
            calc_all().then(function () {
                console.log(hash["Japan"]);
            })
        })

        function showBarGraph() {
            var svg = d3.select("body")
                .append("svg")
                .attr("width", 1200)
                .attr("height", 1000);
            svg.selectAll("rect")
                .data(data[0].axes)
                .enter()
                .append("rect")
                .attr("x", function (d, i) {
                    return i * (20 + 1);
                })
                .attr("y", function (d, i) {
                    return 500 - d.value / 10;
                })
                .attr("width", 20)
                .attr("height", function (d) {
                    return d.value / 10;
                });
            console.log("done");
        }

        function button_clicked() {
            var tab = document.getElementsByClassName("tab_wrap")[0];
            tab.style.opacity = 1;
            data = [];
            legendVals = [];
            var you = document.getElementById("You").value;
            var rivals = (document.getElementById("Rivals").value).split(',');
            addUserInRadarChart(you);
            for (let rival of rivals) {
                addUserInRadarChart(rival);
            }
            showLegend();
            showRaderChart();
            //showBarGraph();
        }

        function apply_clicked() {
            var minSolveCount = document.getElementById("form2").value;
            console.log(minSolveCount);
            data = [];
            selected_tags = {};
            var you = document.getElementById("You").value;
            var rivals = (document.getElementById("Rivals").value).split(',');
            for (var tag in hash[you]["tags"]) {
                if (hash[you]["tags"][tag] == you) continue;
                if (hash[you]["tags"][tag].solveCount >= minSolveCount) {
                    //console.log(tag)
                    selected_tags[tag] = true;
                }
            }
            addUserInRadarChart(you, selected = true);
            for (let rival of rivals) {
                addUserInRadarChart(rival, selected = true);
            }
            showRaderChart();

            //console.log(selected_tag);
        }

        //テキストボックスに書かれたユーザーの情報をRadar Chart用に保持
        function addUserInRadarChart(name, selected = false) {
            max_rating = 0;
            newSeries = {};
            newSeries.name = name;
            newSeries.axes = [];
            for (let tag in hash[name]["tags"]) {
                if (hash[name]["tags"][tag] == name) continue;
                if (selected && !selected_tags[tag]) continue;
                if (max_rating < hash[name]["tags"][tag].value) max_rating = hash[name]["tags"][tag].value;
                newSeries.axes.push({
                    "axis": tag,
                    "value": hash[name]["tags"][tag].value
                });
            }
            data.push(newSeries);
            if (!selected) legendVals.push(name);
        }

        //Radar Chartを表示
        function showRaderChart() {
            var margin = {
                top: 50,
                right: 80,
                bottom: 80,
                left: 80
            };
            var radarChartOptions = {
                w: 300,
                h: 300,
                margin: margin,
                maxValue: max_rating,
                levels: 6,
                roundStrokes: false,
                color: d3.scaleOrdinal(d3.schemeCategory10),
                format: '.0f'
            };
            console.log(data);

            let svg_radar = RadarChart(".radarChart", data, radarChartOptions);
        }

        function showLegend() {
            d3.selectAll('g').remove();

            let legend = d3.select("#legend-div")
                .attr("width", 500)
                .attr("height", 50)
                .selectAll('g')
                .data(legendVals)
                .enter()
                .append('g')
                .attr("class", "legends");

            legend.append('rect')
                .attr("x", 0)
                .attr("y", 10)
                .attr("width", 10)
                .attr("height", 10)
                .style("fill", function (d, i) {
                    return d3.schemeCategory10[i];
                });

            legend.append('text')
                .attr("x", 20)
                .attr("y", 20)
                .text(function (d, i) {
                    return d;
                })
                .attr("class", "textselected")
                .style("text-anchor", "start")
                .style("font-size", 15);

            var padding = 20;
            legend.attr("transform", function (d, i) {
                {
                    return "translate(" + (80 + padding) * i + ",0)";
                }
            });
        }
    </script>
</body>

</html>